@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-Poppins;
  }
  [v-cloak] {
    display: none;
  }
}
@layer components {
  .animationCardContainer {
    width: 360px;
    height: 600px;
    position: relative;
    transition: all 0.5s ease-in-out;
    transform-style: preserve-3d;
  }
  .animationCardWrapper {
    transform: rotateY(180deg);
  }

  .animationCardContainer > div {
    position: absolute;
    width: 100%;
    width: 360px;
    height: 100%;
    text-align: center;
  }
  .frontPage {
    z-index: 2;
  }
  .backPage {
    z-index: 11;
    transform: rotateY(180deg);
  }
  /* TRANSITIONs */
  .Weather-enter-active,
  .Weather-leave-active {
    transition: all 0.2s;
  }

  .Weather-enter-from,
  .Weather-leave-to {
    opacity: 0;
    transform: scale(0.75);
  }
}
